{{#with data.products}}
  {{#if isEmpty}}
    <mark>Список продуктів пустий</mark>
  {{else}}
  {{#each list}}
<div class='product-card'>
  <h3 class='product-card__title'>{{name}}</h3>
  <p class='product-card__desc'>{{description}}</p>
  <p class='product-card__id'>ID:{{id}}</p>
  <div class='product-card__footer'>
    <div class='product-card__price'>{{price}}₴</div>

    <a
      href='/product-edit?id={{id}}'>
      {{>button text='Купити зараз' price=price}}</a>
      {{!-- class='product-card__edit click' --}}
     
    >Редагувати</a>
  </div>
</div>
{{/each}}

{{/if}}
{{/with}}